<head>
	<title>doggy daycare - boarding </title>
</head>

<h1>Dog#daycare</h1>
<!-- p>Find me in app/views/dog/daycare.html.erb</p> -->


<img src="/ZachWithJesse.jpg" alt="Zach With Jesse">

<p>we'll take good care of your dog.</p>


<a href="/dog/grooming">we do dog grooming too!</a>