<head>
	<title>doggy daycare - grooming</title>
</head>

<h1>Dog#grooming</h1>
<!-- <p>Find me in app/views/dog/grooming.html.erb</p> -->

<p>We'll wash your dog real good!</p>

<a href="/dog/daycare">We do daycare & boarding too!</a>