// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dog_title {
	text-align: center;
	font-size: 29px;
	font-family: arial, sans-serif;
}